.newinfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.newinfo::after {
    content: "";
    display: block;
    clear: both;
}

.newinfo ul li {
    width: 18.6%;
    height: 200px;
    margin-left: 18px;
    margin-bottom: 15px;
    float: left;
    background-color: white;
}

    .newinfo ul li:nth-child(5n+1) {
        margin-left: 0;
    }

    .newinfo ul li .cover {
        height: 150px;
        box-sizing: border-box;
        padding: 10px;
    }

    .newinfo ul li span {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        color: black;
    }
