.menu > .h-list a {
    color: white;
    text-decoration: none;
}

.logo img {
    margin-left: 50px;
    margin-top: 8px;
    height: auto;
    width: 155px;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}
