#main-body {
    background-image: url(/images/ccaca.jpg);
    background-size: cover;
}

.content * {
    color: white;
}

.cc {
    overflow-y: auto;
    text-align: justify;
    line-height: 30px;
    text-indent: 30px;
}

p {
    text-indent: 0;
}

.bts {
    display: inline-block;
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 40px;
    font-size: 30px;
    color: white;
    z-index: 10;
    top: 50%;
    margin-top: -20px;
}

    .bts:after {
        content: "";
        background-repeat: no-repeat;
        display: block;
        height: 25px;
        width: 15px;
        background-size: contain;
        margin: 7px 0 0 3px;
        cursor: pointer;
    }

    .bts.lf:after {
        background-image: url(/images/jtl.png);
    }

    .bts.rf {
        right: 0;
    }

        .bts.rf:after {
            background-image: url(/images/jtr.png);
        }
