#main-body {
    background-image: url(/images/最新活动.jpg);
    background-size: cover;
}

.glus {
    color: white;
}

    .glus h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

.content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content a {
    color: white;
}

.tm .content {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.glus {
    width: 1000px !important;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -500px !important;
}

.info {
    height: 35px;
    line-height: 19px;
    overflow-y: hidden;
}
