
#main-body {
    background-image: url(/images/会员专享.jpg);
    background-size: cover;
}

.content li {
    color: white;
}

.hide {
    display: none;
}

.bts {
    display: inline-block;
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 40px;
    font-size: 30px;
    color: white;
    z-index: 10;
    top: 50%;
    margin-top: -20px;
}

    .bts:after {
        content: "";
        background-repeat: no-repeat;
        display: block;
        height: 25px;
        width: 15px;
        background-size: contain;
        margin: 7px 0 0 3px;
        cursor: pointer;
    }

    .bts.lf:after {
        background-image: url(/images/jtl.png);
    }

    .bts.rf {
        right: 0;
    }

        .bts.rf:after {
            background-image: url(/images/jtr.png);
        }

.hytq {
    padding-left: 0;
    margin-left: 22px;
}

    .hytq li {
        line-height: 23px;
    }
