
@{
    ViewData["Title"] = "忘记密码";
}
@section styles{
    <link href="~/css/form.css" rel="stylesheet" />
    <style>
        .menu {
            display: none;
        }

        #main-body {
            background-color: #008cff !important;
        }
    </style>
}

<section class="form-container h-100">
    <div class="form-login">
        <h1>@_("找回密码")</h1>
        <form method="post" asp-action="ForgetPassword">
            <p>
                @Html.TextBox("emailOrUsername", null, null, new { placeholder = _("请输入邮箱/账号"), required = "required" })
            </p>
            <p has-error="@_(ViewBag.ErrorMsg)"></p>
            <p class="submit">
                <input type="submit" name="commit" value="@_("下一步")" />
            </p>
        </form>
    </div>
</section>
