@using MyProject
@*<div class="legal" ng-controller="app.views.layout.sidebarFooter as vm">
    <div class="copyright">
        &copy; {{vm.currentYear}} <a href="javascript:void(0);">CCACA</a>.
    </div>
    <div class="version">
        <b>Version </b> v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyy-MM-dd")]
    </div>
</div>*@