@page
@model CCACAWebUI.Pages.NoAuthorityModel
@{

}
<!DOCTYPE html>
<html>
<head>
    <title>没有权限</title>
</head>
<body>
    <script>
        alert("VIP查看内容，查看请联系客服开通VIP");
        history.back();
    </script>
</body>
</html>